
*:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
}

.profile img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.header .toTheRight .btn {
    margin:0 0 0 10px;
}