.notfound{
    text-align:center;
    width:100%;
}

.notfound h1{
    text-align:center;
    margin:auto;
    display:block;
}

.notfound a{
    text-decoration: underline;
    color:rgb(78, 194, 97);
    margin: 2rem auto;
    display: inline-block;
    text-align: center;
}