.servicelist .card{
    width: calc(25% - 1rem);
    float: left;
    margin: .5rem;
}

.servicelist .card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
    font-size: 10px;
}

 .servicelist img {
    border-radius: 8px;
    width: 10rem;
    border-radius: 0;
    width: 100%;
}

.openAdd, .openAdd:focus, .openAdd:active{
    background-color:rgb(195 73 73);
    border-color:rgb(195 73 73);
}