section.bookinglist {
    position: relative;
    float: left;
    display: block;
}
.bookinglist .card {
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    float: left;
    width: 33%;
    padding: .3rem;
    border: none;
}
.home .card  h3.card-header {
    padding: 0;
    margin: 0;
    flex: 1 1;
    background: none;
    border: none;
    font-size: 18px;
    line-height: 1.2;
    text-overflow: ellipsis;
}
.bookinglist button.btn.btn-secondary {
    min-width: fit-content;
}

.bookinglist .card-header,.bookinglist .card-body {
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}
.bookinglist .card-body {
    background: #ccc;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 12px;
}

.bookinglist button.btn.btn-secondary {
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: 92px;
    position: relative;
    border-radius: 0 10px 10px 0;
    background: #16a3b8;
    border: none;
}