*{
  text-align:left;
  -webkit-font-smoothing: antialiased;
}

.noresultswrap svg{
  max-height: 100px;
  fill: #e0e0e0;
  margin: 10px;
}
.noresults{
  margin-top: 10px;
    margin-left: 2rem;
    margin-bottom: .75rem;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #e0e0e0;
    max-width: 280px;
    margin: 20px auto;
    font-size: 18px;
}

.App{
  padding-top: 80px;
}

.header{
  margin: 0 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h5{
  margin: 1rem 0 20px;
}

.margin-content{
  margin: 0 2rem;
}

form {
  margin: auto 2rem;
  max-width: 980px;
}
.label{
  display: inline-block;
  margin-bottom: .5rem;
  padding: 0;
  margin: 10px 0 5px;
  font-weight: 300;
}

Button{
  min-width:80px;
}

.maincontent{
  padding:3rem 0 4rem;
  max-width:980px;
  margin:auto;
  display:block;
}

.error{
  color:rgb(255, 81, 0);
}

input[type=file] {
  background: #fafafa;
  width: auto;
  padding: 1rem;
  border: 1px solid #ced4da;
  width: 100%;
}

@media only screen and (max-width: 780px) {
  form {
    margin: auto;
    padding: 0 20px;
    max-width: 400px;
  }
}

button.Toastify__close-button.Toastify__close-button--default {
  min-width: unset;
}

.clearfix {
  display: block;
  clear: both;
  position: relative;
}