.App {
  text-align: center;
}

form {
  margin: auto 2rem;
  max-width: 980px;
}

Button{
  min-width:80px;
}

.maincontent{
  padding:3rem 0 4rem;
  max-width:980px;
  margin:auto;
  display:block;
}

.error{
  color:rgb(255, 81, 0);
}

@media only screen and (max-width: 780px) {
  form {
    margin: auto;
    padding: 0 20px;
    max-width: 400px;
  }
}